


        .borde
        {
            background-color:  #4a3838;
            width: 15cm;
            height: fit-content;
            animation-name: flicker;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
        }
        button 
        {
            background-image:  linear-gradient(to left, #911010, #4a3838);
            color:  white;
        }
        body 
        {
            background-color: #911010;
            color: blanchedalmond;
            animation-name: bgAnimation;
            animation-duration: 20s;
            animation-iteration-count: 1;
           
        }
        image
        {
            width: 14.8cm;
        }
        textarea
        {
            background-color:  inherit;
            width: 14.8cm;
            height: 3cm;
            color: inherit;
            animation-name: inherit;
        }
        @keyframes bgAnimation {
            
            from {background: #4a3838}
           to { background: #911010;}
        }

        @keyframes flicker {
            from {color: #4a3838 ; 
                }
            to {color: blanchedalmond; }
        }

        @keyframes blood{
            from {background-image: url("blood-splatter.png"); background-color: #4a3838; 
                }
            to {background-color: black;}
        }
